
.sitenav--fot {
    .sitenav__link:hover {
      color: #FEFCF7;
    }
}
@media only screen and (max-width:1200px) {
  .sitenav--fot {
    margin-top: 33px;
    margin-bottom: 67px;
  }
}
@media only screen and (max-width:650px) {
  .sitenav--fot {
    display: block;
    margin-bottom: 47px;
    .sitenav__item:not(:last-child) {
      margin: 0;
      margin-bottom: 24px;
    }
    .sitenav__list {
      flex-direction: column;
    }
  }
}