.site-header {
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FEFCF7;
}